{% extends "_base.html" %}
<!-- load i18n -->
{% load i18n %}
{% load allauth %}
{% load custom_filters %}
{% load account %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div class="card bg-base-100 shadow-xl transition-all duration-300 hover:shadow-2xl">
                <div class="card-body">
                    <h1 class="text-3xl font-extrabold text-center w-full">{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="mt-2 text-center text-sm text-base-content">
                        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                    </p>
                    <form method="post"
                          action="{% url 'account_reset_password' %}"
                          class="password_reset mt-8 space-y-6">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary w-full" type="submit">{% trans "Reset My Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
