{% extends "_base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block extra_css %}
    <style>
        .register-container {
            background-image: url('{{ "technology"|unsplash_image }}');
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock extra_css %}
{% block content %}
    <div class="register-container min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div class="card bg-base-100 shadow-xl transition-all duration-300 hover:shadow-2xl">
                <div class="card-body">
                    <h1 class="text-3xl font-extrabold text-center w-full">{% trans "Sign Up" %}</h1>
                    <p class="text-center mt-4">
                        {% url 'account_login' as login_url %}
                        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="text-primary hover:underline">sign in</a>.{% endblocktrans %}
                    </p>
                    {% if not SOCIALACCOUNT_ONLY %}
                        <form class="signup mt-8 space-y-6"
                              id="signup_form"
                              method="post"
                              action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            {% if redirect_field_value %}
                                <input type="hidden"
                                       name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="btn btn-primary w-full" type="submit">{% trans "Sign Up" %}</button>
                        </form>
                    {% endif %}
                    {% if SOCIALACCOUNT_ENABLED %}
                        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
