{% extends "_base.html" %}

<!-- Content -->
{% block content %}
<div class="flex h-screen">
	<!-- Sidebar/Side Drawer -->
	<div class="w-64 bg-base-200 p-4 flex flex-col">
		<h2 class="text-xl font-bold mb-4">Chats</h2>
		<div class="flex-grow overflow-y-auto">
			<!-- Recent chats -->
			<div class="mb-4">
				<h3 class="text-lg font-semibold mb-2">Recent</h3>
				<ul>
					{% for chat in recent_chats %}
					<li class="mb-2">
						<a href="#" class="hover:text-primary">{{ chat.title }}</a>
					</li>
					{% empty %}
					<li>No recent chats</li>
					{% endfor %}
				</ul>
			</div>
			<!-- Expandable section for additional chats -->
			<details class="mb-4">
				<summary class="text-lg font-semibold cursor-pointer">
					More Chats
				</summary>
				<ul class="mt-2">
					<li class="mb-2">
						<a href="#" class="hover:text-primary">Chat 4</a>
					</li>
					<li class="mb-2">
						<a href="#" class="hover:text-primary">Chat 5</a>
					</li>
				</ul>
			</details>
		</div>
		<button class="btn btn-primary mt-4">New Chat</button>
	</div>

	<!-- Main Chat Area -->
	<div class="flex-1 flex flex-col bg-base-100">
		<!-- Header -->
		<div class="bg-base-200 p-4 flex items-center">
			<select class="select select-bordered w-full max-w-xs">
				<option disabled selected>Choose LLM model</option>
				{% for model in llm_models %}
				<option value="{{ model.id }}">{{ model.name }}</option>
				{% endfor %}
			</select>
		</div>

		<!-- Chat Interface -->
		<div
			class="flex-1 flex flex-col bg-white shadow-md overflow-y-auto"
			hx-ext="ws"
			ws-connect="/ws/chat/"
		>
			<div id="message-list" class="p-6 flex-1 overflow-y-scroll">
				<div class="mb-4">
					<div class="chat chat-start mt-1 rounded-lg p-4">
						<div class="chat-bubble bg-base-200 text-base-content glass">
							Hello, what can I help you with today?
						</div>
					</div>
				</div>
			</div>

			<!-- Message Input Area -->
			<form class="border-t border-base-300 px-4 py-4 mb-2 sm:mb-0" ws-send>
				<div class="relative flex">
					<input
						type="text"
						placeholder="Write something..."
						name="message"
						class="input input-bordered flex-grow mr-2"
					/>
					<button type="button" class="btn btn-circle btn-outline mr-2">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6 w-6"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"
							/>
						</svg>
					</button>
					<button type="submit" class="ml-2 btn btn-primary">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
