{% extends "_base.html" %}

<!-- Content -->
{% block content %}
<div class="flex h-screen">
	<div
		class="flex-1 flex flex-col bg-white shadow-md"
		hx-ext="ws"
		ws-connect="/ws/chat/"
	>
		<div id="message-list" class="p-6 flex-1 overflow-y-scroll">
			<div class="mb-4">
				<div class="chat chat-start mt-1 rounded-lg p-4">
					<div class="chat-bubble bg-base-200 text-base-content glass">Hello, what can I help you with today?</div>
				</div>
			</div>
		</div>
		<form class="border-t border-base-300 px-4 py-4 mb-2 sm:mb-0" ws-send>
			<div class="relative flex">
				<input
					type="text"
					placeholder="Write something..."
					name="message"
					class="input input-bordered w-full"
				/>
				<button type="submit" class="ml-2 btn btn-primary">Send</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
