<!-- Header -->
<div id="chat-header" class="bg-base-200 p-4 flex items-center justify-between">
	{% include 'chat/components/chat_header.html' %}
</div>

<!-- Chat Interface -->
<div
	id="chat-messages"
	class="flex-1 flex flex-col bg-base-100 shadow-md overflow-y-auto"
    hx-ext="ws"
	ws-connect="/ws/chat/{{ current_chat.id }}/"
>
	{% include 'chat/components/chat_messages.html' %}

	<!-- Message Input Area -->
	<div id="message-input">
		{% include 'chat/components/message_input.html' %}
	</div>
</div>
