{% load i18n %}
<div class="flex justify-between items-center mt-4">
  {% if cancel_url %}
    <a href="{{ cancel_url }}"
       class="btn btn-link text-primary hover:underline">{% trans "Cancel" %}</a>
  {% endif %}
  <div class="space-x-2">
    {% if wizard.steps.prev %}
      <button name="wizard_goto_step"
              type="submit"
              value="{{ wizard.steps.prev }}"
              class="btn btn-secondary">{% trans "Back" %}</button>
    {% else %}
      <button disabled name="" type="button" class="btn btn-disabled">{% trans "Back" %}</button>
    {% endif %}
    <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
  </div>
</div>
